/* import fonts from fonts.css file */
@import url(./fonts.css);

/* import CSS variables */
@import url(./partials/_variables.css);

/* import global styling */
@import url(./partials/global.css);

body{
    overflow-x: hidden;
}

/* NAV start */
.header_area .main_menu .navbar .navbar-brand{
    padding: 0 2rem 0 2rem;
}

.header_area .main_menu .navbar{
    padding: 1rem 0rem;
    background: black;
    position: fixed;
    width: 100vw;
    transition: top 0.3s;
    z-index: 1;
}

.header_area .main_menu .nav-item .nav-link{
    font-family: var(--roboto);
    text-transform: uppercase;
    font-weight: 500;
    padding: 1.2rem;
    color: whitesmoke;
}

.header_area .main_menu .navbar-nav .nav-link:hover{
    color: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: orangered;
    background-clip: text;
}

.header_area .main_menu .navbar-nav .active{
    color: whitesmoke;
    font-weight: 700;
}

#hire-me:hover{
    font-weight: bolder;
    transition: .3s;
}

.header_area .main_menu .navbar-toggler .navbar-toggler-icon{
    background-color: orangered;
    opacity: 50%;
}
/* NAV end */

/* BANNER start */
.site-main .site-banner{
    position: relative;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

.site-main .site-banner::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(/img/banner/mustang-sunset.jfif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.site-main .site-banner .site-title{
    position: relative;
    top: 18rem;
    left: 3rem;
}

.site-main .site-banner .site-title h3{
    font-weight: 500;
    font-size: 2.5rem;
    color: whitesmoke;
}
.site-main .site-banner .site-title h3::after{
    content: "";
    height: 1px;
    width: 18vw;
    background: whitesmoke;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-5px);
}

.site-main .site-banner .site-title h1{
    font-size: 6rem;
    color: whitesmoke;
}

.site-main .site-banner .site-title h4{
    font-size: 3.5rem;
    color: whitesmoke;
}

.site-main .site-banner .banner-image > img{
}
/* BANNER end */

/* SERVICES start */
.services-area .container-fluid{
    background-color: black;
    padding-top: 3rem;
    width: 100vw;
}

.services-area .container-fluid h2{
    background-color: #eca621;
    background-image: url(/img/services/car-trees.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-blend-mode: multiply;
    opacity: 80%;
    color: whitesmoke;
    font-weight: 800;
    width: 100vw;
    text-align: center;
    font-family: var(--roboto);
}

.services-area .container-fluid h5{
    color: whitesmoke;
    font-family: var(--roboto);
    font-weight: 400;
    margin-top: 1rem;
}

.services-area .container-fluid p{
    font-family: var(--roboto);
    margin-top: 1.5rem;
}

#services-provided{
    border-style: solid;
    border-color: rgba(139, 139, 139, 0.25);
    background-color: black;
    margin-top: 0.5rem;
    margin-right: 3px;
    height: 25rem;
}

.services-area .container-fluid .list-group{
    padding-bottom: 25px;
    margin-top: 1.5rem;
}

.services-area .container-fluid .list-group-item{
    background-color: silver;
    color: black;  
    width: 100%;
    margin: 1px;
    text-align: center;
    font-weight: 500;
}

.services-area .container-fluid .list-group-item:hover{
    font-weight: 700;
    color: orangered;
}

.services-area .container-fluid .list-group .active{
   font-weight: 700;
   background-color: #eca621;
   opacity: 90%;
   transition: 0.3s;
   color: black;
   border-color: rgb(255, 68, 0, .25);
   background-image: url(/img/services/mud.jfif);
   background-position: center right;
   background-blend-mode: multiply;
}

.services-area .container-fluid .tab-pane{
    color: whitesmoke;
    padding-bottom: 9.5rem;
    padding-left: 10px;
}
/* SERVICES END */

/* WORK START */
.work-area .container-fluid{
    padding-top: 3rem;
    background-color: black;
    width: 100vw;
    height: 100vh;
    margin-bottom: -12rem;
}

.work-area .container-fluid h2{
    background-color: #eca621;
    background-image: url(/img/work/fall-car.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-blend-mode: multiply;
    opacity: 80%;
    color: whitesmoke;
    font-weight: 800;
    width: 100vw;
    text-align: center;
    font-family: var(--roboto);
}

div.gallery {
    border: 1px solid #ccc;
  }
  
div.gallery:hover {
    border: 2px solid #eca621;
    box-shadow: var(--box-shadow);
    transition: 0.3s;
}
  
div.gallery img {
    width: 100%;
    height: auto;
}
  
  
.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}
  
@media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
}
  
@media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
}
  
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
/*WORK END */

/* CONTACT START */
.contact-area .container-fluid{
    width: 100vw;
    height: auto;
    background-color: black;
}

.contact-area .container-fluid .about-title{
    background-color: #eca621;
    background-image: url(/img/contact/car1.jfif);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-blend-mode: multiply;
    opacity: 80%;
    color: whitesmoke;
    font-weight: 800;
    width: 100vw;
    text-align: center;
    font-family: var(--roboto);
    margin-bottom: 2rem;
}
/* CONTACT END */

/* MOBILE */
@media only screen and (max-width: 500px){
    body{
        overflow-x: hidden;
    }

    .header_area .main_menu .navbar .navbar-brand{
        visibility: hidden;
    }

    .header_area .main_menu .navbar{
        visibility: hidden;
    }

    .site-main .site-banner::before{
        background-position: 58%;
    }

    .site-main .site-banner .site-title h3{
        font-size: 1.5rem;
    }

    .site-main .site-banner .site-title h1{
        font-size: 3rem;
    }

    .site-main .site-banner .site-title h4{
        font-size: 2rem;
    }

    .site-main .site-banner .site-title{
        position: relative;
        top: 15rem;
        left: 3rem;
    }
}