/* import CSS variables */
@import url(./partials/_variables.css);

/* import global styling */
@import url(./partials/global.css);


body{
    overflow-x: hidden;
    background-color: black;
}

.about-title{
    background-color: #eca621;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-blend-mode: multiply;
    opacity: 80%;
    color: whitesmoke;
    font-weight: 800;
    width: 100vw;
    text-align: center;
    font-family: var(--roboto);
    width: 100vw;
    height: 10rem;
}

/* NAV */
.navbar .nav-item .nav-link{
    font-family: var(--roboto);
    text-transform: uppercase;
    font-weight: 500;
    padding: 1.2rem;
    color: whitesmoke;
}

.navbar .nav-item .nav-link:hover{
    color: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: orangered;
    background-clip: text;
}

#hire-me:hover{
    font-weight: bolder;
    transition: .3s;
}

/* BANNER */
.jumbotron{
    background-image: url('/img/banner/mustang-sunset.jfif');
    background-repeat: no-repeat;
    width: 100%;
    height: 850px;
    background-position: center center;
    background-size: cover;
}

.jumbotron h1, p{
    color: whitesmoke;
    font-family: var(--roboto);
    font-weight: 500;
}

.jumbotron h1{
    padding-top: 15%;
    padding-left: 10%; 
    font-size: 7rem;
}

.jumbotron p{
    padding-left: 10%;
    font-size: 2.5rem;
}

@media only screen and (max-width: 600px){
    .jumbotron{
        width: 100vw;
        height: 550px;
        background-position: right center;
    }

    .jumbotron h1{
        padding-top: 15%;
        padding-left: 5%; 
        font-size: 3rem;
    }
    
    .jumbotron p{
        padding-left: 5%;
        font-size: 1rem;
    }
}

/* SERVICES */
.services{
    background-image: url(/img/services/car-trees.jpg);
}

.service-image{
    border-radius: 25px;
}

/* WORK */
.work{
    background-image: url(/img/work/fall-car.jpg);
}

/* CONTACT */
.contact{
    background-image: url(/img/contact/car1.jfif);
}
