/* import CSS variables */
@import url(/css/partials/_variables.css);

/* import global styling */
@import url(/css/partials/global.css);

/* GLOBAL */
body{
    overflow-x: hidden;
    background-color: black;
}

.about-title{
    background-color: #eca621;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-blend-mode: multiply;
    opacity: 80%;
    color: whitesmoke;
    font-weight: 800;
    width: 100vw;
    text-align: center;
    font-family: var(--roboto);
    width: 100vw;
    height: 10rem;
}

.button{
    margin: 2px;
    font-family: var(--roboto);
    font-size: 15px;
    padding: 12px;
    text-align: center;
    background-size: 200% auto;
    color: #FFF;
    border-radius: 10px;
    width: 160px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    display: inline-block;
}

.button:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 4px 6px 8px;
}

.button.primary-button{
    background-image: linear-gradient(to right, orangered 0%, #f7a470 51%, orangered 100%);
}

.button.primary-button:hover{
    background-position: right center;
    font-weight: bold;
}

/* NAV */
.navbar .nav-item .nav-link{
    font-family: var(--roboto);
    text-transform: uppercase;
    font-weight: 500;
    padding: 1.2rem;
    color: whitesmoke;
}

.navbar .nav-item .nav-link:hover{
    color: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: orangered;
    background-clip: text;
}

#hire-me:hover{
    font-weight: bolder;
    transition: .3s;
}

/* BANNER */
.jumbotron{
    background-image: url('/img/banner/mustang-sunset.jfif');
    background-repeat: no-repeat;
    width: 100%;
    height: 850px;
    background-position: center center;
    background-size: cover;
}

.jumbotron h1, p{
    color: whitesmoke;
    font-family: var(--roboto);
    font-weight: 500;
}

.jumbotron h1{
    padding-top: 15%;
    padding-left: 10%; 
    font-size: 7rem;
}

.jumbotron p{
    padding-left: 10%;
    font-size: 2.5rem;
}

@media only screen and (max-width: 600px){
    .jumbotron{
        width: 100vw;
        height: 800px;
        background-position: 83% 50%;
    }

    .jumbotron h1{
        padding-top: 23%;
        padding-left: 5%; 
        font-size: 3rem;
        color: white;
        text-decoration: underline;
    }
    
    .jumbotron p{
        padding-left: 5%;
        font-size: 1rem;
    }
}

/* SERVICES */
.services{
    background-image: url(/img/services/car-trees.jpg);
    margin-bottom: 3rem;
}

.service-image{
    border-radius: 25px;
}

.services .services-title{
    margin: auto;
    width: 50%;
    padding: 50px;
    text-align: center;
}

#services-provided{
    border-style: solid;
    border-color: rgba(139, 139, 139, 0.25);
    background-color: black;
    margin-top: 0.5rem;
    margin-right: 3px;
    height: 25rem;
    padding-top: 5rem;
}

.services-area .service-select{
    color: whitesmoke;
}

.services-area .container-fluid .list-group-item{
    background-color: silver;
    color: black;  
    width: 100%;
    margin: 1px;
    text-align: center;
    font-weight: 500;
}

.services-area .container-fluid .list-group-item:hover{
    font-weight: 700;
    color: orangered;
}

.services-area .container-fluid .list-group .active{
    font-weight: 700;
    background-color: #eca621;
    opacity: 90%;
    transition: 0.3s;
    color: orangered;
    border-color: rgb(255, 68, 0, .25);
    background-image: url(/img/services/mud.jfif);
    background-position: center right;
    background-blend-mode: multiply;
 }

@media only screen and (max-width: 600px){
    .services-area .service-select{
        padding-top: 1rem;
    }
}

/* WORK */
.work{
    background-image: url(/img/work/fall-car.jpg);
    margin-top: 3rem;
}

.work .work-title{
    margin: auto;
    width: 50%;
    padding: 50px;
    text-align: center;
}

div.gallery{
    border: 1px solid #ccc;
  }
  
div.gallery:hover{
    border: 2px solid #eca621;
    box-shadow: var(--box-shadow);
    transition: 0.3s;
}
  
div.gallery img{
    width: 100%;
    height: auto;
}
  
  
.responsive{
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive{
        width: 100%;
    }
}

/* CONTACT */
.contact{
    background-image: url(/img/contact/car1.jfif);
}

.contact .contact-title{
    margin: auto;
    width: 50%;
    padding: 50px;
    text-align: center;
}
