html,body{
    margin: 0%;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* CSS variables */

:root{
    --primary-color: #0993d3;
    --primary-color2: orangered;
    --title-color: #ffa700;
    --text-color: #8f8681;
    --border-color: #55504d;
    --gradient-color: linear-gradient(90deg, rgb(61, 61, 61) 0%, orangered 100%);
    --shadow-color: 0px 10px 30px #113a54;
    --box-shadow: 0px 10px 30px #262727;
    --roboto: 'Roboto', sans-serif;
}